

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> Sign Up </h1>
             <form method="post"> {% comment %} post is for when we're gettting information from the server {% endcomment %}      
                {% csrf_token %}
                 {{ form.as_p }} {% comment %} form as p creates a form for us instead of using the input tags {% endcomment %}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
